# Importing Libraries
in this part we will install all the necessary libraries on command prompt and then import the necessary functions from those libraries.

In [112]:
# importing all the necessary libraries
import pandas as pd

from numpy import mean
import numpy as np
import time

# step 1: preprocessing
from sklearn.impute import SimpleImputer # import some strategic imputer to fill in any missing values using mean
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, RobustScaler, Normalizer # scale all the values to one range to avoid any biasness (this bias is seen in mostly naive bayes and knn etc)

from sklearn.impute import KNNImputer # import some strategic imputer to fill missing values using KNN (finds the nearest neighbour and fills it with that value)

from sklearn.feature_selection import SequentialFeatureSelector, SelectKBest, f_classif, VarianceThreshold

from sklearn.decomposition import PCA

# step 2: data division
from sklearn.model_selection import train_test_split, RepeatedKFold, cross_val_score # to divide the code into train/test using a specific percentage or with/without replacement

# step 3: model
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import BaggingClassifier

# step 4: displaying accuracy
from sklearn.metrics import roc_auc_score, accuracy_score # to display the accuracy of our tree

In [113]:
# use this block to install any libraries not on the system
# !pip install pandas
# !pip install sklearn
# python -m pip install scikit-learn lightgbm xgboost catboost

# Data Loading
data shall be loaded into variables as data sets using pandas and csv readers. they will be checked to see if they are loaded properly and will be loaded as 2 sets: train and test as per given in the kaggle data

In [114]:
# lets load the training data set
train_data = pd.read_csv(r"D:\Users\DELL\OneDrive - Institute of Business Administration\IBA\sem5\machine learning\ipynb notebooks\challenger1\iml-fall-2024-challenge-1\train_set.csv")

# lets also check it by getting the first few rows of the data, there should be x1 - x78 and one target variable Y
train_data.head()

   RecordId         X2         X3  X4  X5  X6  ...  X74  X75  X76  X77  X78  Y
0         1  87.000000  34.118411   0   2   0  ...  0.0  0.0  0.0  0.0  0.0  0
1         2  82.372284  31.573280   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0
2         3  50.000000  27.771653   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0
3         4  66.236109  26.515922   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0
4         5  81.303299  20.843691   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0

[5 rows x 79 columns]

In [115]:
# lets load the test data
test_data = pd.read_csv(r"D:\Users\DELL\OneDrive - Institute of Business Administration\IBA\sem5\machine learning\ipynb notebooks\challenger1\iml-fall-2024-challenge-1\test_set.csv")

# check if the data has been loaded by getting the first 5 rows - there should be x1 - x78 and no target variable Y as this is test data
test_data.head()

   RecordId         X2         X3  X4  X5  X6  ...  X73  X74  X75  X76  X77  X78
0    300001  79.000000  17.122318   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
1    300002  38.000000  43.693579   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
2    300003  36.064225  23.998944   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
3    300004  61.846764  31.693449   0   3   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
4    300005  71.591991  20.086147   1   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 78 columns]

# Data Preprocessing
before we start processing this data and using algorithms, we will fix this data first, this is called data preprocessing

## Conversion of Categorical to Numerical
First we will convert categorical data to numerical data by doing one hot encoding, which turns it into binary variables

In [116]:
# one hot encoding - display it
pd.get_dummies(train_data) # this line will convert the train_data to one hot encoding but it will only display the result and not save it

        RecordId         X2         X3  X4  X5  ...       X75  X76  X77       X78  Y
0              1  87.000000  34.118411   0   2  ...  0.000000  0.0  0.0  0.000000  0
1              2  82.372284  31.573280   0   0  ...  0.000000  0.0  0.0  0.000000  0
2              3  50.000000  27.771653   0   0  ...  0.000000  0.0  0.0  0.000000  0
3              4  66.236109  26.515922   0   0  ...  0.000000  0.0  0.0  0.000000  0
4              5  81.303299  20.843691   0   0  ...  0.000000  0.0  0.0  0.000000  0
...          ...        ...        ...  ..  ..  ...       ...  ...  ...       ... ..
246117    246118  65.149110  33.357948   0   0  ...  0.000000  0.0  0.0  0.000000  0
246118    246119  48.000000  46.736176   0   0  ...  0.000000  0.0  0.0  0.000000  1
246119    246120  57.472080  41.854115   1   0  ...  0.412013  0.0  0.0  0.412013  0
246120    246121  66.000000  23.738662   1   0  ...  0.000000  0.0  0.0  0.000000  0
246121    246122  50.257640  32.753911   0   2  ...  0.000000  0.0  0.0  0.000000  0

[246122 rows x 79 columns]

In [117]:
# we can see that there is no change in the number of columns meaning there is no categorical data. but for the sake of running the program. we must perform the preprocessing therefore we shall re-run the one hot encoding and save it somewhere
train_data_processed = pd.get_dummies(train_data)

# now we shall do the same on the test data so that we maintain the rules over all data
test_data_processed = pd.get_dummies(test_data)

## Data Removal
Removal of rows that have empty cells

In [118]:
# ----------------------------- case 61a, 61b -----------------------------
# train_data_processed = train_data_processed.dropna(axis=0)
# train_data_processed.shape

## ERROR
# row dropping does not work in NaiveBayes as the test_data also contains NaN values and we cannot drop those rows. NaiveBayes then throws error that it cannot fit model due to NaN values.

## Data Splitting - festures and targets
the data in train_data set is of x1 - x78 columns (79 variables) and one target variable (Y). we must split that data so that we can perform data preprocessing on the features variables (will be referred to as X).

In [119]:
# so in X, it is ALL the columns EXCEPT the last column known as 'Y' (we can confirm this using the train_data.head() we did earlier) so we must get all columns and DROP only the 'y' column
X = train_data_processed.drop(columns=['Y'])
X # lets display X and see what it is now

        RecordId         X2         X3  X4  ...       X75  X76  X77       X78
0              1  87.000000  34.118411   0  ...  0.000000  0.0  0.0  0.000000
1              2  82.372284  31.573280   0  ...  0.000000  0.0  0.0  0.000000
2              3  50.000000  27.771653   0  ...  0.000000  0.0  0.0  0.000000
3              4  66.236109  26.515922   0  ...  0.000000  0.0  0.0  0.000000
4              5  81.303299  20.843691   0  ...  0.000000  0.0  0.0  0.000000
...          ...        ...        ...  ..  ...       ...  ...  ...       ...
246117    246118  65.149110  33.357948   0  ...  0.000000  0.0  0.0  0.000000
246118    246119  48.000000  46.736176   0  ...  0.000000  0.0  0.0  0.000000
246119    246120  57.472080  41.854115   1  ...  0.412013  0.0  0.0  0.412013
246120    246121  66.000000  23.738662   1  ...  0.000000  0.0  0.0  0.000000
246121    246122  50.257640  32.753911   0  ...  0.000000  0.0  0.0  0.000000

[246122 rows x 78 columns]

In [120]:
# so as per our X output, we can see that number of columns in train_data is 79 and number of columns in X is 78 meaning we have successfully performed our removal of target variable
# now to get the target variable alone, we can just get it alone,
Y = train_data_processed['Y']
Y.shape # lets see what it is
# as per our Y output, we can see it is of one column and 246k rows which means we have successfully extracted the target variable column

(246122,)

## Data Imputation 
many cells in our data may be empty - we must fill these cells with data. we have multiple options to deal with them:
- we remove the entire rows (Case 1)
- we fill the cells with the average of the column (Case 2)
- we fill the cells based on KNN imputation (nearest neighbour) (Case 3)

In [121]:
# REMOVE ROWS 
# ----------------------------- case  -----------------------------
# in this case, lets remove the entire rows that have NaN values. before saving the removed rows data set, lets first run it and display it to see the outcome, then we shall save in X
# X.dropna(axis=0)

In [122]:
# REMOVE ROWS
# # so we originally had 246122 rows and now after removing empty cell rows we have 239650 rows which is a 6472 rows difference. as our first try, lets work with it. lets assign this data set in place of X
# X = X.dropna(axis=0)
# X
# these above 2 lines were commented out as there was an error handling, rows were being removed from X and not from Y so we fixed it by removing from train_data and then splitting into X and Y
# train_data_processed = train_data_processed.dropna(axis=0)
# train_data_processed.shape

In [123]:
# Average Mean Imputation
# ----------------------------- case 31, 32, 34 to 42, 45, 48, 49, 50, 164, 165a -----------------------------
# this will fill all the empty spaces using the average of all the spaces
imputer = SimpleImputer(strategy='mean')
X = imputer.fit_transform(X)                                        # fill them in X
test_data_processed = imputer.transform(test_data_processed)    # fill them in test data

In [124]:
# KNN Imputation
# ----------------------------- case 33 -----------------------------
# this fills them in using k-nearest neighbours of all the spaces
# imputer = KNNImputer(n_neighbors=7)
# X = imputer.fit_transform(X)                                        # fill them in X
# test_data_processed = imputer.fit_transform(test_data_processed)    # fill them in test data

## Data Scaling
some columns may be very large then other columns when compared. it would not affect at the moment as we are using decision trees, but to maintain a fair enviroment, we shall perform scaling on every run.
there are two types of scaling: 
- min max scaling (also known as normalization)
- standardisation (z-score normalization)
- max abs scaler
- robust scaler
- normalizer

In [125]:
# ----------------------------- case 32 to 42, 45, 48, 49, 50, 164, 165a -----------------------------
# in this case we shall perform min max scaling. to do that, we must use our MinMaxScaler that we have imported above
scaler = MinMaxScaler()
# now we must use this scaler to scale X
scaler.fit_transform(X)

array([[0.00000000e+00, 9.72602740e-01, 3.63856188e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.06304216e-06, 9.09209364e-01, 3.15807703e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.12608432e-06, 4.65753425e-01, 2.44038356e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [9.99991874e-01, 5.68110690e-01, 5.09895343e-01, ...,
        0.00000000e+00, 0.00000000e+00, 4.12013395e-01],
       [9.99995937e-01, 6.84931507e-01, 1.67901180e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 4.69282739e-01, 3.38096342e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [126]:
# ----------------------------- case 31 -----------------------------
# scaler = MaxAbsScaler()
# # now we must use this scaler to scale X
# scaler.fit_transform(X)

In [127]:
# our output shows us that every value in the array is between 0 and 1. thus lets save this value on X
X = scaler.fit_transform(X)

# now we must do the same on our test_data set
test_data_processed = scaler.transform(test_data_processed)

## Filters
there are two types of filters to filter out columns/features:
- variance filter (a column which has same values throughout the column like all are sunny)
- correlation filter (two columns which are same like weight in kg and weight in pounds)

In [128]:
print("X : ", X.shape)
print("test data : ", test_data_processed.shape)

X :  (246122, 78)
test data :  (105482, 78)

In [129]:
# variance filter
# ----------------------------- case 36 to 40d -----------------------------
# variance_filter = VarianceThreshold(threshold=0.0001) # Adjust threshold accordingly
# -- 
# variance_filter = VarianceThreshold(threshold=0.1)    # case 36
# variance_filter = VarianceThreshold(threshold=0.5)    # case 37a
# variance_filter = VarianceThreshold(threshold=0.3)    # case 37b 
# variance_filter = VarianceThreshold(threshold=0.01)   # case 37c
# variance_filter = VarianceThreshold(threshold=0.05)   # case 37d
# variance_filter = VarianceThreshold(threshold=0.03)   # case 37e. 37f
# variance_filter = VarianceThreshold(threshold=0.01)   # case 38
# variance_filter = VarianceThreshold(threshold=0.005)  # case 39a
# variance_filter = VarianceThreshold(threshold=0.001)  # case 39b
# variance_filter = VarianceThreshold(threshold=0.0001) # case 40a, 40b, 40c, 40d

In [130]:
# X = variance_filter.fit_transform(X)
# test_data_processed = variance_filter.transform(test_data_processed)
X.shape

(246122, 78)

In [131]:
test_data_processed.shape

(105482, 78)

In [132]:
# # correlation filter
# # ----------------------------- case 36 to 40d -----------------------------
# corr_matrix = pd.DataFrame(X).corr().abs()
# upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
# to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.87)]
# --
# to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.9)]    # case 36 to 37d, 37f to 40d
# to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.8)]    # case 37e, 40b
# to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.85)]   # case 40c
# to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.87)]   # case 40d

In [133]:
# X = pd.DataFrame(X).drop(columns=to_drop)
# test_data_processed = pd.DataFrame(test_data_processed).drop(columns=to_drop)
X.shape

(246122, 78)

In [134]:
test_data_processed.shape

(105482, 78)

# PCA

In [135]:
# ----------------------------- case -----------------------------
pca = PCA(n_components=24)                    
X = pca.fit_transform(X)
test_data_processed = pca.transform(test_data_processed)

# Data Splitting - train and validate
now our test_data set is of rows with NO target variable whereas the train_data set is WITH target variable.
our rules in machine learning is that we must train half or 70% of the data and then we must check its accuracy using the remaining half or 30% of the data - we can only check accuracy IF we have the answers i.e. the target variable. 
So, what we need to do is, is split the train_data set into 2, by a 70% and 30% ratio. we train the model using the 70% and then test the model using the 30% and then use that model to predict the test_data set.

In [136]:
# holdout method
trainX, testX, trainY, testY = train_test_split(X, Y, test_size=0.3)
print("trainX shape -> ", trainX.shape)
print("trainY shape -> ", trainY.shape)
print("testX shape -> ", testX.shape)
print("testY shape -> ", testY.shape)

trainX shape ->  (172285, 24)
trainY shape ->  (172285,)
testX shape ->  (73837, 24)
testY shape ->  (73837,)

# Model intialization
here model is intialized

In [137]:
model = GaussianNB()

## Feature Selection
in this we select columns and features we want to keep. there are several algos to do so:
- forward selection
- backward selection
- Kbest (best out of all)

In [138]:
# forward selection
# ----------------------------- case 34, 35a, 35b, 41a, 42, 45, 48, 49, 50, 61a, 164 -----------------------------
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=15, scoring='roc_auc')  # case 61a
# --
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=5, scoring='roc_auc')   # case 34
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=10, scoring='roc_auc')  # case 35a
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=20, scoring='roc_auc')  # case 35b
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=30, scoring='roc_auc')  # case 41a
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=25, scoring='roc_auc')  # case 42
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=15, scoring='roc_auc')  # case 45, 164
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=17, scoring='roc_auc')  # case 48
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=13, scoring='roc_auc')  # case 49
# selection = SequentialFeatureSelector(model, direction='forward',n_features_to_select=14, scoring='roc_auc')  # case 50

In [139]:
# # backward selection
# selection = SequentialFeatureSelector(model, direction='backward',n_features_to_select=5, scoring='roc_auc', n_jobs=-1)

In [140]:
# k best
# ----------------------------- case 41b -----------------------------
# selection = SelectKBest(score_func=f_classif, k=30)             # Use f_classif for classification

In [141]:
# feature selection fitting
# trainX = selection.fit_transform(trainX, trainY)

In [142]:
# feature selection applying
# testX = selection.transform(testX)                                  # Ensure the test set is transformed similarly
# test_data_processed = selection.transform(test_data_processed)      # test data is also transformed
# X = selection.transform(X)                                          # full data transforming

In [143]:
trainX.shape

(172285, 24)

# feature importance

In [144]:
# # ----------------------- case 165a ----------------------
# features = 20
# print("fitting")
    
# # fit the model
# model.fit(trainX, trainY)

# print("extracting features")

# # extract all the feature names from data
# importances = model.feature_importances_
# feature_names = train_data_processed.drop(columns=['Y']).columns
# print(feature_names)

# # sort with respect to importance
# feature_importance_df = pd.DataFrame({
#     'Feature': feature_names,
#     'Importance': importances
# }).sort_values(by='Importance', ascending=False)

# # extract the top ones
# top_features = feature_importance_df['Feature'].head(features).values
# print(top_features)

# # change all data according to the top ones we have selected
# trainX = pd.DataFrame(trainX, columns=feature_names)[top_features]
# testX = pd.DataFrame(testX, columns=feature_names)[top_features]
# X = pd.DataFrame(X, columns=feature_names)[top_features]
# test_data_processed = pd.DataFrame(test_data_processed, columns=feature_names)[top_features]

# print("features extracted")
    
# # retrain the model
# model.fit(trainX, trainY)

# print("features trained")

# Bagging

In [145]:
# ------------------------ case 164 -----------------------
# model = BaggingClassifier(estimator=model, n_estimators=50, verbose=2)

# Model running
here we run the model

In [146]:
model.fit(trainX, trainY)

y_pred = model.predict(testX)

accuracy = accuracy_score(testY, y_pred)
print("model accuracy = ", accuracy, "   ")

# now lets calculate the ROC AUC score according to this prediction
roc_score = roc_auc_score(testY, y_pred)
print("roc score = ", roc_score, "   ")

model accuracy =  0.9702181832956377
roc score =  0.6879233888954087

## predict for test dataset
fit the model and predict for test dataset

In [147]:
model.fit(X, Y)

test_prediction = model.predict_proba(test_data_processed)

test_prediction=test_prediction[:, 1]

print(test_prediction)

[1.59211514e-04 3.53841249e-01 4.40780800e-05 ... 1.98533092e-05
 7.90237187e-04 1.66774868e-04]

## write into csv
now we write the predictions into the csv file

In [148]:
sample_data = pd.read_csv(r"D:\Users\DELL\OneDrive - Institute of Business Administration\IBA\sem5\machine learning\ipynb notebooks\challenger1\iml-fall-2024-challenge-1\sample_submission.csv")

sample_data['Y'] = test_prediction
sample_data

sample_data.to_csv(r"D:\Users\DELL\OneDrive - Institute of Business Administration\IBA\sem5\machine learning\ipynb notebooks\challenger1\iml-fall-2024-challenge-1\nb1.csv", index=False)
sample_data

        RecordId         Y
0         300001  0.000159
1         300002  0.353841
2         300003  0.000044
3         300004  0.000012
4         300005  0.000012
...          ...       ...
105477    405478  0.000007
105478    405479  0.992244
105479    405480  0.000020
105480    405481  0.000790
105481    405482  0.000167

[105482 rows x 2 columns]