# Importing Libraries
in this part we will install all the necessary libraries on command prompt and then import the necessary functions from those libraries.

In [7]:
# importing all the necessary libraries
import pandas as pd

# step 1: preprocessing
from sklearn.impute import SimpleImputer # import some strategic imputer to fill in any missing values using mean
from sklearn.preprocessing import MinMaxScaler # scale all the values to one range to avoid any biasness (this bias is seen in mostly naive bayes and knn etc)
from sklearn.impute import KNNImputer # import some strategic imputer to fill missing values using KNN (finds the nearest neighbour and fills it with that value)

# step 2: data division
from sklearn.model_selection import train_test_split # to divide the code into train/test using a specific percentage or with/without replacement

# step 3: decision trees creation and tuning
from sklearn.tree import DecisionTreeClassifier # to intialize a decision tree maker, its hyper parameters can be defined or set by a grid
from sklearn.model_selection import GridSearchCV # to set different hyper parameters for creating a decision tree

# step 4: displaying accuracy
from sklearn.metrics import roc_auc_score # to display the accuracy of our tree

In [6]:
# use this block to install any libraries not on the system
# !pip install pandas
# !pip install sklearn
# python -m pip install scikit-learn lightgbm xgboost catboost

# Data Loading
data shall be loaded into variables as data sets using pandas and csv readers. they will be checked to see if they are loaded properly and will be loaded as 2 sets: train and test as per given in the kaggle data

In [5]:
# lets load the training data set
train_data = pd.read_csv(r"D:\Users\DELL\OneDrive - Institute of Business Administration\IBA\sem5\machine learning\ipynb notebooks\challenger1\iml-fall-2024-challenge-1\train_set.csv")

In [15]:
train_data.head() # lets also check it by getting the first few rows of the data, there should be x1 - x78 and one target variable Y

   RecordId         X2         X3  X4  X5  X6  ...  X74  X75  X76  X77  X78  Y
0         1  87.000000  34.118411   0   2   0  ...  0.0  0.0  0.0  0.0  0.0  0
1         2  82.372284  31.573280   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0
2         3  50.000000  27.771653   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0
3         4  66.236109  26.515922   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0
4         5  81.303299  20.843691   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0

[5 rows x 79 columns]

In [12]:
# lets load the test data
test_data = pd.read_csv(r"D:\Users\DELL\OneDrive - Institute of Business Administration\IBA\sem5\machine learning\ipynb notebooks\challenger1\iml-fall-2024-challenge-1\test_set.csv")

In [14]:
test_data.head() # check if the data has been loaded by getting the first 5 rows - there should be x1 - x78 and no target variable Y as this is test data

   RecordId         X2         X3  X4  X5  X6  ...  X73  X74  X75  X76  X77  X78
0    300001  79.000000  17.122318   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
1    300002  38.000000  43.693579   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
2    300003  36.064225  23.998944   0   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
3    300004  61.846764  31.693449   0   3   1  ...  0.0  0.0  0.0  0.0  0.0  0.0
4    300005  71.591991  20.086147   1   0   1  ...  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 78 columns]

# Data Preprocessing
before we start processing this data and using algorithms, we will fix this data first